{% extends "base.html" %}

{% block content %}
<style>
#ppBody
{
    font-size:11pt;
    width:100%;
    margin:0 auto;
    text-align:justify;
}

#ppHeader
{
    font-family:verdana;
    font-size:21pt;
    width:100%;
    margin:0 auto;
}

.ppConsistencies
{
    display:none;
}
</style><div id='ppHeader'> Privacy Policy</div>
    <div class='innerText'>This privacy policy has been compiled to better serve those who are concerned with how their
        Personal Information is being used online. Personal Information is any information that can be used on its own
        or with other information to identify, contact, or locate a single person, or to identify an individual in context.
        Please read our privacy policy carefully to get a clear understanding of how we collect, use,
        protect or otherwise handle your Personal Information in accordance with our website.<br></div>
    <span id='infoCo'></span><br>
    <div class='grayText'><strong>Who manages the information?</strong></div>
    <br/>
    <div class='innerText'>Nile Pottery is a partnership between individuals in Ireland and Uganda. The nilepottery.com
        e-commerce site is built and managed by Complete E-Commerce Solutions based in Dublin, Ireland. Data required
        for processing orders (names, addresses, e-mail addresses) is shared with our partners in Uganda.
    </div>
    <br/>
    <div class='grayText'><strong>Where is the information stored?</strong></div>
    <br/>
    <div class='innerText'>All non-payment information is stored on Google Cloud servers.
        Credit card information entered on the site is stored and processed by Stripe
        (Click <a href="https://stripe.com/ie/privacy">here</a> for the Stripe Privacy Policy). No information entered
        on the Paypal website is stored by this site. Financial details stored on Stripe or Paypal are not accessible to us.
    </div>
    <br>
    <div class='grayText'><strong>What personal information do we collect from the people that visit out website?</strong></div>
    <br/>
    <div class='innerText'>When ordering or registering on our site, as appropriate, you may be asked to enter your
        name, email address, billing address, mailing address or phone number to help you with your experience and to process orders.
    </div>
    <br>
    <div class='grayText'><strong>When do we collect information?</strong></div>
    <br/>
    <div class='innerText'>We collect information from you when you register on our site, place an order, fill out a
        form or enter information on our site.
    </div>
    <span id='infoUs'></span><br>
    <div class='grayText'><strong>How do we use your information? </strong></div>
    <br/>
    <div class='innerText'> We may use the information we collect from you when you register, make a purchase, surf the website,
        or use certain other site features in the following ways:<br><br></div>
    <div class='innerText'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; <strong>&bull;</strong> To process your orders, esnuring they
      are deliverd to the correct physical address.
    </div>
    <div class='innerText'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; <strong>&bull;</strong> To personalize your experience and to
        allow us to deliver the type of content and product offerings in which you are most interested.
    </div>
    <div class='innerText'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; <strong>&bull;</strong> To improve our website in order to
        better serve you.
    </div>
    <div class='innerText'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; <strong>&bull;</strong> To allow us to better service you in
        responding to your customer service requests.
    </div>
    <span id='infoPro'></span><br>
    <div class='grayText'><strong>How do we protect your information?</strong></div>
    <br/>
    <div class='innerText'>Your personal information is contained behind secured networks and is only accessible by a
        limited number of persons who have special access rights to such systems, and are required to keep the
        information confidential. In addition, all information you supply is encrypted via Secure
        Socket Layer (SSL) technology.
    </div>
    <br>
    <div class='innerText'>We implement a variety of security measures when a user places an order, enters, submits, or
        accesses their information to maintain the safety of your personal information.
    </div>
    <br>
    <div class='innerText'>All financial transactions are processed through a third party gateway provider (Stripe & Paypal).
        No credit card or other sensitive financial data are stored or processed on our servers.
    </div>
    <span id='coUs'></span><br>
    <div class='grayText'><strong>Do we use 'cookies'?</strong></div>
    <br/>
    <div class='innerText'>Yes. Cookies are small files that a site or its service provider transfers to your computer's
        hard drive through your Web browser (if you allow) that enables the site's or service provider's systems to
        recognize your browser and capture and remember certain information
    </div>
    <div class='innerText'><br><strong>We use cookies to:</strong></div>
    <br>
    <div class='innerText'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; <strong>&bull;</strong> Help remember and process the items in the shopping cart.
    </div>
    <div class='innerText'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; <strong>&bull;</strong> Remember what user you are logged in as.
    </div>
    <div class='innerText'><br>You can choose to have your computer warn you each time a cookie is being sent, or you
        can choose to turn off all cookies. You do this through your browser settings. Since each browser is a little
        different, look at your browser's Help Menu to learn the correct way to modify your cookies.<br></div>
    <div class='innerText'><br><strong>If users disable cookies in their browser:</strong></div>
    <br>
    <div class='innerText'>We may not be able to keep you logged in as you browse our site, and
        preferences for logged out users, along with shopping cart information will not be remembered.
    </div>
    <br><span id='trDi'></span>
    <div class='grayText'><strong>Third-party disclosure</strong></div>
    <br/>
    <div class='innerText'>We do not sell, trade, or otherwise transfer to outside parties your Personal
        Information unless we provide users with advance notice. This does not include website hosting partners and
        other parties who assist us in operating our website, conducting our business, or serving our users, so long as
        those parties agree to keep this information confidential. We may also release information when it's release is
        appropriate to comply with the law, enforce our site policies, or protect ours or others' rights, property or
        safety.
    </div>
    <span id='trLi'></span><br>
    <div class='grayText'><strong>Third-party links</strong></div>
    <br/>
    <div class='innerText'>We do not include or offer third-party products or services on our website.</div>
    <span id='gooAd'></span><br>
    <div class='blueText'><strong>Google</strong></div>
    <br/>
    <div class='innerText'>We do not use use Google AdSense Advertising on our website.</div>
    <div class='innerText'><br><strong>We have implemented the following:</strong></div>
    <br>
        <span id='calOppa'></span>
        <div class='blueText'><strong>Data Protection Regulation</strong></div>
        <div class='innerText'><br><strong>To comply with common Data Protection regulations:</strong><br></div>
        <div class='innerText'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; <strong>&bull;</strong> Users can visit this site anonymously.</div>
        <div class='innerText'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; <strong>&bull;</strong> A link to this privacy policy is available on our home page and throught this website.<br>
        </div>
        <div class='innerText'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; <strong>&bull;</strong> Our Privacy Policy link includes the word 'Privacy' and can easily be found on the page
            specified above.
        </div>
        <div class='innerText'><br>You will be notified of any Privacy Policy changes:</div>
        <div class='innerText'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; <strong>&bull;</strong> On our Privacy Policy Page<br>
        </div>
        <div class='innerText'>How you can change or delete your personal information:</div>
        <div class='innerText'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; <strong>&bull;</strong> By logging in to your account and clicking "Your Account"
        </div>
        <div class='innerText'><br><strong>How does our site handle Do Not Track signals?</strong><br></div>
        <div class='innerText'>We do not use tracking cookies.
        </div>
        <div class='innerText'><br><strong>Does our site allow third-party behavioral tracking?</strong><br></div>
        <div class='innerText'>We allow third-party behavioral tracking via server-side Google Analytics. This
        service may receive your IP address, information about which pages on our website you visit, and information
          about the browser you are using. The IP address can be used to identify your country of origin.
        Per-user data is not visible to our Ugandan partners, however they may be informed of general statistics
        (such as 20% of our visitors are from a certain country).</div>
        <span id='coppAct'></span><br>
        <div class='blueText'><strong>Children's online privacy</strong></div>
        <div class='innerText'>We do not specifically market to children under the age of 13 years old.</div>
        <span id='ftcFip'></span><br>
        <div class='blueText'><strong>Data Breaches</strong></div>
        <br/>
        <div class='innerText'><strong>We will take the following responsive action should a data breach occur:</strong>
        </div>
        <div class='innerText'>We will notify all users via in-site notification and registered users via e-mail
            within 7 business days</div>
{% endblock %}
